@model IEnumerable<AppTest3.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Listes Des Students</h1>
<form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Student">
    <p>
        <input size="30" placeholder="tapez un Nom" type="search" name="name" />
        <select asp-items="ViewBag.SchoolID" name="SchoolID" size=1.5 style="width:300px ; height:30px"></select>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.School.SchoolName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId"><img src="~/images/edit.png" style="height:30px; width:30px" /></a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId"><img src="~/images/detail.jpg" style="height:30px; width:30px" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId"><img src="~/images/delete.png" style="height:30px; width:30px" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

